.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transform-origin: top;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
}

.event {
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
  background-color: var(--accent-dark);
  padding: 0.5rem;
  border-radius: 1rem;
}

.eventActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.eventActionImg {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  opacity: 0.7;
}

.eventActionImg:hover,
.eventActionImg:focus-visible {
  opacity: 1;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.eventDate {
  opacity: 0.7;
  font-size: 0.8rem;
}
