.optionsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: opacity 0.1s;
}

.optionsHeader:hover,
.optionsHeader:focus-visible {
  opacity: 1;
}

.arrow {
  height: 1rem;
  width: 1rem;
  transform: rotate(90deg);
  transition: transform 0.3s;
}
