.deleteModalText {
  text-align: center;
  margin-bottom: 1rem;
}

.deleteModalTextBold {
  font-weight: 600;
}

.deleteModalButtonsContainer {
  display: flex;
  justify-content: space-evenly;
}

.cancelButton {
  background-color: var(--accent-main);
  border: none;
  border-radius: 100vw;
  padding: 0.3rem 0.7rem;
  transition: 0.1s;
  margin-top: 0.5rem;
}

.cancelButton:hover {
  background-color: var(--accent-main-hover);
  cursor: pointer;
}

.modalDeleteButton {
  background-color: rgb(197, 0, 0);
  border: none;
  border-radius: 100vw;
  padding: 0.3rem 0.7rem;
  transition: 0.1s;
}

.modalDeleteButton:hover {
  background-color: rgb(151, 0, 0);
  cursor: pointer;
}

.modalDeleteButton:disabled,
.cancelButton:disabled {
  cursor: not-allowed;
}

.form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.input {
  outline: none;
  border: 1px solid var(--accent-main);
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.input::placeholder {
  color: var(--text);
  opacity: 0.5;
}

.inputError {
  border-color: rgb(206, 2, 2);
}

.errorMsg {
  color: rgb(206, 2, 2);
  font-size: 0.9rem;
}

.smallSpinner {
  width: 2rem;
  height: 2rem;
  color: var(--text);
  opacity: 0.7;
}
