.container {
  display: grid;
  grid-template-columns: 13rem 19rem 6rem;
  grid-template-rows: minmax(1.9rem, auto) 1.9rem 1.9rem;
  gap: 1rem 0;
}

.fieldName {
  font-weight: 500;
  position: relative;
}
.longFieldName {
  grid-column: 1/3;
}
.fieldValue {
  opacity: 0.7;
  font-weight: 300;
}
.changeButton {
  background-color: var(--accent-main);
  border: none;
  border-radius: 100vw;
  padding: 0.1rem 0.7rem;
  transition: 0.1s;
  grid-column: 3/4;
}
.changeButton:hover {
  background-color: var(--accent-main-hover);
  cursor: pointer;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2/4;
  gap: 0.5rem;
}

.formSecondLine,
.formFirstLine {
  display: flex;
  align-items: center;
}

.input {
  outline: none;
  border: 0.5px solid var(--accent-main);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  height: 100%;
}

.input::placeholder {
  color: var(--text);
  opacity: 0.5;
}

.checkImg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text);
  opacity: 0.7;
  transition: 0.1s;
  margin-left: 0.4rem;
}

.checkImg:hover {
  border-radius: 100vw;
  background-color: var(--accent-vlight);
  cursor: pointer;
}

.switch {
  width: fit-content;
  margin-left: auto;
}

.absoluteSpinner {
  position: absolute;
  right: -1rem;
}

.deleteModalText {
  text-align: center;
  margin-bottom: 1rem;
}

.deleteModalTextBold {
  font-weight: 600;
}

.deleteModalButtonsContainer {
  display: flex;
  justify-content: space-evenly;
}

.cancelButton {
  background-color: var(--accent-main);
  border: none;
  border-radius: 100vw;
  padding: 0.1rem 0.7rem;
  transition: 0.1s;
}

.cancelButton:hover {
  background-color: var(--accent-main-hover);
  cursor: pointer;
}

.modalDeleteButton {
  background-color: rgb(197, 0, 0);
  border: none;
  border-radius: 100vw;
  padding: 0.1rem 0.7rem;
  transition: 0.1s;
}

.modalDeleteButton:hover {
  background-color: rgb(151, 0, 0);
  cursor: pointer;
}
